* {
    padding: 0;
    margin: 0;
} 

body {
background: #000;
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
line-height: 18px;
color: #f3f3f3;
}
p
{
    background: gray
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 18px;
    color: #f3f3f3;
}

img { border: none; }
a { color: #97C4FF; text-decoration: none;}
a:hover { text-decoration: underline; color : #f3f3f3; }

#wrap {
    margin: 40px auto 0 auto;
    width: 1000px;
    }

#header { 
border: 5px solid #2f4f4f;
height: 100px;
background: #2f4f4f;
}
#header h1 {
font-size: 26px;
font-weight: 100;
letter-spacing: 3px;
padding: 12px 0 5px 10px;
}
#header h1 a {
color: #f3f3f3;
text-decoration: none;
}
#header h1 a:hover {
color: #aaa;
text-decoration: none;
}
#header h2 {
color: #f3f3f3;
font-size: 15px;
font-weight: 100;
padding: 0 0 0 11px;
letter-spacing: 3px;
line-height: 12px;
}

.left {
margin-top: 10px;
width: 570px;
float: left;
text-align: justify;
border: 5px solid #2f4f4f;
padding: 10px;
background: #2f4f4f;
}
.left h2 {
color: goldenrod;
font-size: 24px;
letter-spacing: 3px;
font-weight: 100;
padding : 10px 0 15px 0;
}
#JJJ {
    background: #000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #aaa;
    }
    #nav{
        border: 1px solid #f3f3f3;
        float:right;
        background-color:#2f4f4f;
        height:50%;
        text-align:left;
        width:390px
        
    
    }.topnav{
         background-color: #737373;
        overflow:hidden;
        
    }
    .topnav a {
        border-style: solid;
        border-width: 1px;
        float: left;
       font-size:17px;
       padding:30px 20px;  
        background-color:#2f4f4f;
        text-align:center;
        color:#2f4f4f;
        text-decoration: none;
    }
    .topnav a:hover {
        background-color:#2f4f4f;
        color:black;
    }
    #header h2 {
        color: silver;
        font-size: 15px;
        font-weight: 100;
        padding: 0 0 0 11px;
        letter-spacing: 3px;
        line-height: 12px;
        }
    



